<IfModule mod_rewrite.c>

  # Enable mod_rewrite
  RewriteEngine On

  # Specify the folder in which the application resides.
  # Use / if the application is in the root. 
  RewriteBase /kano

  # Redirect to correct domain to avoid canonicalization problems
  # RewriteCond %{HTTP_HOST} !^www\.example\.com
  # RewriteRule ^(.*)$ http://www.example.com/$1 [R=301,L]

  # Redirect URLs ending in /index.php or /index.html to /
  RewriteCond %{THE_REQUEST} ^GET\ .*/index\.(php|html?)\ HTTP
  RewriteRule ^(.*)index\.(php|html?)$ $1 [R=301,L]
  
  RewriteRule ^customer/account/AjaxReq/?$ index.php?CustomerAccount&AjaxReq [L]
  RewriteRule ^customer/account/?$ index.php?CustomerAccount [L]
  RewriteRule ^customer/account/change_password/AjaxReq/?$ index.php?CustomerAccount&ChangePassword&AjaxReq [L]
  RewriteRule ^customer/account/change_password/?$ index.php?CustomerAccount&ChangePassword [L]
  RewriteRule ^customer/login/?$ index.php?CustomerLogin [L]
  RewriteRule ^customer/logout/?$ index.php?CustomerLogout [L]
  RewriteRule ^customer/register/AjaxReq/?$ index.php?CustomerRegister&AjaxReq [L]
  RewriteRule ^customer/register/?$ index.php?CustomerRegister [L]

  RewriteRule ^calendar/?$ index.php?calendar [L]
  RewriteRule ^all-surveys/?$ index.php?all-surveys [L]
  RewriteRule ^survey?(.*)$ index.php?survey$1 [L]
  RewriteRule ^data-entry?(.*)$ index.php?data-entry$1 [QSA]
  RewriteRule ^cluster-data?(.*)$ index.php?cluster-data$1 [QSA]
  RewriteRule ^beehive-data?(.*)$ index.php?beehive-data$1 [QSA]
  RewriteRule ^organization/?$ index.php?organization [L]
  RewriteRule ^organization&page=([A-Za-z0-9_-]+)/?$ index.php?organization&page=$1 [L]
  RewriteRule ^services/?$ index.php?services [L]
  RewriteRule ^contact/?$ index.php?contact [L]
  RewriteRule ^accreditations/?$ index.php?accreditations [L]
  RewriteRule ^sitemap/?$ index.php?sitemap [L]
  RewriteRule ^terms/?$ index.php?terms [L]
  RewriteRule ^tuvtimes-newsletter/?$ index.php?tuvtimes [L]
  RewriteRule ^briefing/?$ index.php?briefing [L]
  RewriteRule ^education/?$ index.php?education [L]
  RewriteRule ^cyprus/?$ index.php?cyprus [L]
  RewriteRule ^online-application/?$ index.php?online-application [L]
  RewriteRule ^newsletter-subscribe/?$ index.php?newsletter-subscribe [L]
  RewriteRule ^NewsletterSignupConfirm&confid=([A-Za-z0-9_-]+)&newsletter_email=(.*)/?$ index.php?NewsletterSignupConfirm&confid=$1&newsletter_email=$2 [L]
  
  RewriteRule ^Search/?$ index.php?Search [L]
  RewriteRule ^search-results=?(.*)/?$ index.php?search-results=$1 [L]
  
  RewriteRule ^category_id=([0-9]+)/?$ index.php?category_id=$1 [L]
  RewriteRule ^.*category_id=([0-9]+)&service_id=([0-9]+)/?$ index.php?category_id=$1&service_id=$2 [L]
  
  RewriteRule ^briefing&page=([0-9]+)/?$ index.php?briefing&page=$1 [L]
  RewriteRule ^briefing&page=([0-9]+)&item=([0-9]+)/?$ index.php?briefing&page=$1&item=$2 [L]
  RewriteRule ^briefing&page=([0-9]+)&pageNo=([0-9]+)/?$ index.php?briefing&page=$1&pageNo=$2 [L]

</IfModule>
<FilesMatch "\.(?i:doc|odf|pdf|rtf|txt)$">
  Header set Content-Disposition attachment
</FilesMatch>
# Set the default 500 page for Apache errors
ErrorDocument 500 /500.php

# Set the default 404 page
ErrorDocument 404 /404.php
